services:
  rabbitmq:
    image: rabbitmq:4.2.0-management
    container_name: tpb-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: always

  worker-translation:
    build:
      context: .
      dockerfile: docker/worker-translation/Dockerfile
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: guest
      RABBITMQ_PASSWORD: guest
    depends_on:
      - rabbitmq
    restart: always

volumes:
  rabbitmq_data:
    driver: local
